@charset "UTF-8";
/**
 * 
 * @authors Your Name (you@example.org)
 * @date    2019-03-14 20:31:56
 * @version $Id$
 */
 p,div,body,p{
	margin:0;
	padding: 0;
 }
  a{text-decoration:none;}
 a:hover{text-decoration:none;}
 a:active{text-decoration:none;}
 	@media screen and (min-width: 0px) {html{font-size:50px;}}
	@media screen and (min-width: 360px) {html{font-size:56.25px;}}
	@media screen and (min-width: 375px) {html{font-size:58.59375px;}}
	@media screen and (min-width: 400px) {html{font-size:62.5px;}}
	@media screen and (min-width: 414px) {html{font-size:64.6875px;}}
	@media screen and (min-width: 440px) {html{font-size:68.75px;}}
	@media screen and (min-width: 480px) {html{font-size:75px;}}
	@media screen and (min-width: 520px) {html{font-size:81.25px;}}
	@media screen and (min-width: 560px) {html{font-size:87.5px;}}
	@media screen and (min-width: 600px) {html{font-size:93.75px;}}
	@media screen and (min-width: 640px) {html{font-size:100px;}}
	@media screen and (min-width: 680px) {html{font-size:106.25px;}}
	@media screen and (min-width: 720px) {html{font-size:112.5px;}}
	@media screen and (min-width: 760px) {html{font-size:118.75px;}}
	@media screen and (min-width: 800px) {html{font-size:125px;}}
	@media screen and (min-width: 960px) {html{font-size:150px;}}
	@media screen and (min-width: 1280px) {html{font-size:200px;}}

	.navtopmargin{
		border:0;
		margin: 0;
		min-height: 0;
	}
 	.header{
			position: relative;
			height: 0.68rem;
			background-color: #29bde0;
		}
	.navtoppadding{
			padding: 0;
		}
	.menu{
		position: absolute;
		bottom: 0.15rem;
		left: 0.22rem;
		width:0.39rem;
		height: 0.40rem;
		background-image: url("../img/menu.png");
		background-size: 0.39rem 0.40rem;
	}
	.header p{
		font-size: 0.23rem;
		color:#fff;
		line-height: 0.68rem;
		text-align: center;
		letter-spacing: 0.04rem;
	}
	.X{
		position: absolute;
		right: 0.24rem;
		bottom: 0.15rem;
		width: 0.36rem;
		height: 0.36rem;
		background-image: url("../img/X.png");
		background-size: 0.36rem 0.36rem;
	}
	.none{
			height:0.68rem;
			width: 100%;
		}
	.content{
		background-color: #29bde0;
	}
	.instructions1{
		position: relative;
		height: 0.82rem;
		background-color: #b9e9f5;
		font-size: 0.24rem;
		letter-spacing: 0.03rem;
		line-height: 0.82rem;
		padding-left: 0.47rem;
	}
	.instructions1 a{
		position: absolute;
		bottom: 0.15rem;
		right: 0.17rem;
		height: 0.52rem;
		width: 0.52rem;
		background-image: url("../img/player.png");
		background-size: 0.52rem 0.52rem;
	}
	.instructions1 audio{
		opacity: 0;
	}
	.instructions2{
		position: relative;
		font-size: 0.24rem;
		height: 0.72rem;
		background-color: #29bde0;
		color:#fff;
		letter-spacing: 0.03rem;
		line-height: 0.72rem;
		padding-left: 0.72rem;
	}
	.instructions2 div{
		position: absolute;
		left: 0.71rem;
		width: 0.15rem;
		height: 0.12rem;
		border-top: 0.12rem solid #b9e9f5;
		border-right: 0.075rem solid transparent;
		border-left: 0.075rem solid transparent;
	}
	.choose{
		padding-top: 0.21rem;
		padding-right: 0.30rem;
		display: inline-block;
	}
	.role{
		margin-left: 0.41rem;
		border:0.05rem solid #fff;
		width: 1.36rem;
		height: 1.36rem;
		text-align: center;
	}
	.name{
		font-size: 0.3rem;
		height: 0.99rem;
		background-color: #f5c97b;
		color: #565656;
		line-height: 0.99rem;

	}
	.num{
		font-size: 0.23rem;
		line-height: 0.27rem;
		background-color: #83b09a;
		color: #fff;
	}
	.operation{
		padding-top: 0.23rem;
		padding-bottom: 0.23rem;
		margin-left: 0.41rem;
		visibility: hidden;
	}
	.operation a{
		background-image: url("../img/operation.png");
		background-size: 1.2rem 0.3rem;
		width: 0.3rem;
		height: 0.3rem;
		display: inline-block;
	}
	.operation1{
		background-position: -0.6rem 0;
	}
	.operation2{
		background-position: -0.9rem 0;
	}
	.operation4{
		background-position: -0.3rem 0;
	}
	.choose:hover .operation{
		visibility: visible;
	}
	.none2{
			height:1.92rem;
			width: 100%;
		}
	footer{
		height: 1.92rem;
		width: 100%;
		background-color: #29bde0;
		border-top: 0.02rem solid #fff;
		position: fixed;
		bottom:0;
	}
	.vote{
		display: inline-block;
		font-size: 0.4rem;
		color:#fff;
		background-color: #fbb435;
		width: 4.9rem;
		height:0.87rem;
		text-align: center;
		line-height: 0.87rem;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%,-50%);
	}