@charset "UTF-8";
/**
 * 
 * @authors Your Name (you@example.org)
 * @date    2019-04-06 16:59:44
 * @version $Id$
 */
 *{
 	border:0;
 	margin:0;
 }
  a{text-decoration:none;}
 a:hover{text-decoration:none;}
 a:active{text-decoration:none;}
 	@media screen and (min-width: 0px) {html{font-size:50px;}}
	@media screen and (min-width: 360px) {html{font-size:56.25px;}}
	@media screen and (min-width: 375px) {html{font-size:58.59375px;}}
	@media screen and (min-width: 400px) {html{font-size:62.5px;}}
	@media screen and (min-width: 414px) {html{font-size:64.6875px;}}
	@media screen and (min-width: 440px) {html{font-size:68.75px;}}
	@media screen and (min-width: 480px) {html{font-size:75px;}}
	@media screen and (min-width: 520px) {html{font-size:81.25px;}}
	@media screen and (min-width: 560px) {html{font-size:87.5px;}}
	@media screen and (min-width: 600px) {html{font-size:93.75px;}}
	@media screen and (min-width: 640px) {html{font-size:100px;}}
	@media screen and (min-width: 680px) {html{font-size:106.25px;}}
	@media screen and (min-width: 720px) {html{font-size:112.5px;}}
	@media screen and (min-width: 760px) {html{font-size:118.75px;}}
	@media screen and (min-width: 800px) {html{font-size:125px;}}
	@media screen and (min-width: 880px) {html{font-size:137.5px;}}
	@media screen and (min-width: 960px) {html{font-size:150px;}}
	@media screen and (min-width: 1040px) {html{font-size:162.5px;}}
	@media screen and (min-width: 1080px) {html{font-size:168.75px;}}
	@media screen and (min-width: 1120px) {html{font-size:175px;}}
	@media screen and (min-width: 1200px) {html{font-size:187.5px;}}
	@media screen and (min-width: 1280px) {html{font-size:200px;}}
	@media screen and (min-width: 1600px) {html{font-size:250px;}}
	@media screen and (min-width: 1920px) {html{font-size:300px;}}
	@media screen and (min-width: 2240px) {html{font-size:350px;}}
	@media screen and (min-width: 2560px) {html{font-size:400px;}}
	@media screen and (min-width: 2880px) {html{font-size:450px;}}
	@media screen and (min-width: 3200px) {html{font-size:500px;}}
	@media screen and (min-width: 3520px) {html{font-size:550px;}}
	@media screen and (min-width: 3840px) {html{font-size:600px;}}
	@media screen and (min-width: 4160px) {html{font-size:650px;}}

.contact{
	height: 0.13rem;
	width: 100%;
	padding:0 1.2rem;
	background-color: #fafafa;
	line-height: 0.13rem;
}
.contact p{
	font-family: 微软雅黑;
	color:#29b078;
	font-size: 0.037rem;
	display: inline-block;
}
.contact span {
	margin-top: 0.025rem;
	float: right;
}
.contact a{
	background-image: url("../img/contact.png");
	background-size: 0.24rem 0.08rem;
	display: inline-block;
	width: 0.08rem;
	height: 0.08rem;
	margin-left: 0.05rem;
}
.qq{
	background-position: -0.16rem 0;
}
.wb{
	background-position: -0.08rem 0;
}
.navigation{
	height: 0.33rem;
	background-color: #29b078;
	padding-right: 1.1rem;
	line-height: 0.32rem;
}
.navigation ul{
	list-style: none;
	margin:0;
	padding:0;
	
}
.navigation li{
	display: inline-block;
	text-align: center;
	float: right;
	width: 0.34rem;
	font-family: 微软雅黑;
	font-size:0.053rem;
	color: #fff;
}

.navigation li:hover{
	border-bottom: 0.013rem solid #fff;
}
.navigation li:last-child{
	border-bottom: 0.013rem solid #fff;
}
.navigation a{
	color:#fff;
}
.content{
	background-color: #fafafa;
}
.shuffling{
	height: 2rem;
	background-color: #999999;
	display: inline-block;
}
.abstract{
	padding-top:0.54rem;
	margin:0 1.2rem;
	display: flex;
	justify-content: center;
	align-content: center;
}
.gaoxiao,.guifan,.renmai{
	width: 1.04rem;
	padding:0.02rem 0.14rem;
	display: flex;
	flex-direction: column;   
	justify-content: flex-start;
	align-items: center;
}
.xian{
	display: inline-block;
	height: 0.88rem;
	border-left: 1px dashed #dedede;
}
.icon{
	height: 0.22rem;
	width: 0.2rem;
	background-image: url(../img/abstract.png);
	background-size: 0.65rem 0.22rem;
}
.ordinary{
	font-size:0.05rem;
	font-family: 微软雅黑;
	color:#999;
	display: block;
}
.abstract b{
	margin: 0;
	font-size:0.06rem;
	font-family: 微软雅黑;
	color:#333;
	margin-top:0.08rem;
	margin-bottom: 0.09rem;
}
.num{
	padding-top:0.20rem;
	padding-left: 0.18rem;
	width: 0.87rem;
	display: flex;
	flex-direction: column;
	align-content: center;
	justify-content: flex-start;
	align-items: flex-start;
}
.num span{
	flex-direction: row;
}
.num span div{
	display: inline-block;
	height: 0.05rem;
	width:0.05rem;
	background-image: url(../img/xiaoren.png);
	background-size: 0.05rem 0.05rem;
	
}
.num span b{
	display: inline-block;
	color: #53af86;
	font-size: 0.06rem;
	font-family: 微软雅黑;
	margin:0;
}
.num p{
	font-size:0.05rem;
	font-family: 微软雅黑;
	color:#999;
	display: block;
}
.tit{
	margin-top: 0.33rem;
	font-size:0.06rem;
	font-family: 微软雅黑;
	text-align: center;
	color:black;
	font-weight: bold;
	margin-bottom: 0.22rem;
}
.way{
	display: flex;
	justify-content: center;
	align-items: center;
	margin:0 1.26rem;
}

.circle{
	width: 0.25rem;
	height: 0.25rem;
}
.number{
	border:0.004rem solid #efeeee;
	border-radius: 0.125rem;
	color:#29b078;
	text-align: center;
	line-height: 0.25rem;
	display: inline-block;
	background-color: #fff;
}
.way p{
	width: 0.60rem;
	font-size:0.05rem;
	font-family: 微软雅黑;
	color: #999;
	margin-left: 0.06rem;
}
.arrow{
	margin-right: 0.06rem;
	margin-left: 0.06rem;
	max-height: 0.09rem;
	max-width: 0.10rem;
}
.students{
	margin:0 1.2rem;
}
.student{
	display: flex;
	justify-content: center;
	align-items: center;
}
.stu{
	width: 0.91rem;
	padding:0.06rem 0.10rem 0 0.10rem;
	border:0.004rem solid #eeeded;
	background-color: #fff;
	margin-right: 0.13rem;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}
.heads{
	height: 0.36rem;
	width: 0.36rem;
	background-image: url("https://github.com/zj347041359/zj347041359.github.io/blob/master/home/img/heads.png");
	background-size: 1.44rem 0.36rem;
	background-position: -0.72rem 0;
}
.head1{
	background-position: -1.08rem 0;
}
.head2{
	background-position: 0 0;
}
.head3{
	background-position: -0.36rem 0;
}
.position{
	font-family: 微软雅黑;
	font-size: 0.06rem;
	font-weight: bold;
	color:#333;
}
.detailed{
	font-family: 微软雅黑;
	font-size:0.05rem;
	color:#999;
}
.students ul{
	padding:0;
	text-align: center;
	margin-top: 0.03rem;
}
.students li{
	list-style-type: none;
	width: 0.04rem;
	height: 0.04rem;
	border-radius: 0.02rem;
	background-color: #fff;
	display: inline-block;
}
.students li:first-child{
	background-color: #29b078;
}
.students li:hover {
	background-color: #29b078;
}
.enterprise{
	margin:0 1.2rem;
}
.enterprise ul{
	height: 0.60rem;
	padding:0;
	text-align: center;
	background-color: #fff;
	display: flex;
	box-shadow: 0 0 2px #f5f5f5;
}
.enterprise li{
	list-style-type: none;
	height: 100%;
	width: 20%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.enterprise li div{
	background-image: url("../img/enterprise.png");
	background-size: 2.16rem 0.21rem;
	height: 0.21rem;
}
.albb div{
	width: 0.49rem;
	background-position:-1.1rem 0;
}
.jsy div{
	width: 0.19rem;
	background-position:0 0;
}
.hx div{
	width: 0.47rem;
	background-position:-0.62rem 0;
}
.rl div{
	width: 0.57rem;
	background-position:-1.59rem 0;
}
.qny div{
	width: 0.43rem;
	background-position:-0.19rem 0;
}
.hx{
	box-shadow: 0 0 0.03rem #f5f5f5;
}
.link ul{
	padding:0;
	margin:0 1.2rem;
	display: flex;
	justify-content: space-between;
}
.link li{
	color: #999;
}
.link li a{
	font-size: 0.05rem;
	font-family: 微软雅黑;
	color: #999;}
.link li:hover{
	border-bottom: 1px solid #26a26f;
}
.footer {
    padding: 20px 0;
    background: #55a877;
    color: #ffffff;
}

.footer .lead {
    margin-bottom: 10px;
    font-size: 16px;
}

.footer a {
    color: #fff;
}

.footer a:hover {
    color: #fff;
    text-decoration: underline;
}

.footer img {
    width: 92px;
}

.copyright {
    background: #55a877;
    border-top: 0.1rem solid #32c086;
    line-height: 27px;
    color: #ffffff;
    text-align: center;
    font-size: 12px;
}

.beianhao{
	width: 100%;
	line-height: 0.10rem;
	text-align: center;
	border-top: 1px solid #32c086

}